.fondo{
  height: 100vh;
  background-image: url(../../../components/imagenes/slider-1.png);

  .head {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 14vh;
      width: 100%;
      border-bottom: 1px solid #E0752F;

      
      .logo {
          margin-left: 20px;
          .imglogo {
              max-width: 128.5px;
              margin-right: 390PX;
          }
      }

      .navbar{

          a{
              display: inline-block;
              padding: 20px 20px;
              text-decoration: none;
              font-size: 20px;
              color: white;
              font-family: 'Roboto', sans-serif;
          }

          a:hover {
              color: #E0752F;
          }
      }

  }

  .header{
      display: flex;
      flex-direction: column;
      align-items: left;
      color: #ffff;

      .title{
          font: normal normal 600 48px/48px Poppins;
          margin-top: 158px;
          margin-left: 101px;
          width: 554px;
          height: 115px;
      }

      P{
          font-family: 'Roboto', sans-serif;
          margin-top: 30px;
          margin-left: 101px;
          width: 343px;
          height: 42px;
      }

      .btn-home{
          margin-top: 30px;
          margin-left: 101px;
          width: 144px;
          height: 48px;
          border-radius: 25px;
          background-color: #E0752F;
          display: flex;
          text-align: center;
          justify-content: center;

          .btn{
              margin-top: 6px;
              font-family: 'Roboto', sans-serif;
              color: white;
              text-decoration: none;
          }
      }

      .btn:hover{
          background: none;
      }
      
  }

}





@media only screen and (max-width: 600px) {
  .fondo {
    background-position: center;



    .head {
      flex-direction: column;
      align-items:flex-start;
      height: fit-content; 

      .logo {
        margin-left: 10px;
        .imglogo {
          max-width: 100px;
          margin-right: 0;
        }
      }

      .navbar{

        a{
            text-decoration: none;
            color: white;
            font-size: 6px;
        }
    }


    }

    .header {

      .title {
        margin-top: 50px;
        margin-left: 20px;
        width: 80%;
        font-size: 38px;
      }

      p {
        margin-top: 80px;
        margin-left: 20px;
        width: 80%;
      }

      .btn-home {
        margin-top: 35px;
        margin-left: 20px;
        width: 120px;
      }
    }

  }

}
