*{
    margin: 0;
    padding: 0;
}

@import '~bootstrap/scss/bootstrap.scss';
$accordion-icon-color:#E0752F;
$accordion-icon-active-color:#E0752F;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
